{% extends 'dashboard.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    <h1>Add Favorite</h1>
    {% form_theme addFavoriteForm 'bootstrap_4_layout.html.twig' %}

    {{ form_start(addFavoriteForm) }}
        {{ form_row(addFavoriteForm.name) }}
        {{ form_row(addFavoriteForm.url) }}
        {{ form_row(addFavoriteForm.category.name) }}
    <button type="submit" class="btn">Add</button>

    {{ form_end(addFavoriteForm) }}
{% endblock %}

