{% extends 'dashboard.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    name | url | category <br>
    <ul>
    {% for favorite in favorites %}
        <li>{{ favorite.id }} | {{ favorite.name }} | {{ favorite.url }} | {{ favorite.category.name }}</li>
        <a href="{{ path('dashboard_delete_favorite',{id:favorite.id}) }}">delete</a>
        <a href="{{ path('dashboard_edit_favorite',{id:favorite.id}) }}">modify</a>
    {% endfor %}
    </ul>

{% endblock %}